<div class="h-screen w-full flex flex-col justify-center items-center">
  @switch (seleccion()) { @case ('frecuencias'){
  <app-prueba-estadistica-frecuencias />
  } @case ('Promedios'){
  <app-prueba-estadistica-promedios />
  } @default {
  <p class="text-2xl mb-5 font-semibold">
    Selecciona la prueba estadistica a realizar 😶‍🌫️
  </p>
  <div class="flex gap-5">
    <p-button label="Frecuencias" (click)="onChange('frecuencias')" />
    <p-button label="Promedios" (click)="onChange('Promedios')" />
  </div>
  } }
</div>
<div class="absolute">
  <p-toast />
</div>
